.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #de9e3e;
	-webkit-box-shadow: 3px 4px 0px 0px #de9e3e;
	box-shadow: 3px 4px 0px 0px #de9e3e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffea94), color-stop(1, #ffb340));
	background:-moz-linear-gradient(top, #ffea94 5%, #ffb340 100%);
	background:-webkit-linear-gradient(top, #ffea94 5%, #ffb340 100%);
	background:-o-linear-gradient(top, #ffea94 5%, #ffb340 100%);
	background:-ms-linear-gradient(top, #ffea94 5%, #ffb340 100%);
	background:linear-gradient(to bottom, #ffea94 5%, #ffb340 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea94', endColorstr='#ffb340',GradientType=0);
	background-color:#ffea94;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #fcd485;
	display:inline-block;
	cursor:pointer;
	color:#fffdf0;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #665b3b;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffb340), color-stop(1, #ffea94));
	background:-moz-linear-gradient(top, #ffb340 5%, #ffea94 100%);
	background:-webkit-linear-gradient(top, #ffb340 5%, #ffea94 100%);
	background:-o-linear-gradient(top, #ffb340 5%, #ffea94 100%);
	background:-ms-linear-gradient(top, #ffb340 5%, #ffea94 100%);
	background:linear-gradient(to bottom, #ffb340 5%, #ffea94 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb340', endColorstr='#ffea94',GradientType=0);
	background-color:#ffb340;
}
.myButton:active {
	position:relative;
	top:1px;
}
