.background{
	-fx-background-color: peru;
	-fx-opacity: 0.95;
}

.prompttext{
	-fx-prompt-text-fill: white;
}

.buttonstyle{
	-fx-background-color: peru;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
}